
 @font-face { font-style : bold; src: url("../assets/fonts/InterBold.ttf"); font-family : "Inter"; font-weight : 700;  }
 @font-face { font-style : normal; src: url("../assets/fonts/InterRegular.ttf"); font-family : "Inter"; font-weight : 400;  }
 @font-face { font-style : bold; src: url("../assets/fonts/RobotoRomanMedium.ttf"); font-family : "Roboto"; font-weight : 500;  }
 @font-face { font-style : bold; src: url("../assets/fonts/PTSansBold.ttf"); font-family : "PT Sans"; font-weight : 700;  }
 @font-face { font-style : bold; src: url("../assets/fonts/InterSemiBold.ttf"); font-family : "Inter"; font-weight : 600;  }
 @font-face { font-style : normal; src: url("../assets/fonts/PoppinsRegular.ttf"); font-family : "Poppins"; font-weight : 400;  }
 @font-face { font-style : bold; src: url("../assets/fonts/SoraSemiBold.ttf"); font-family : "Sora"; font-weight : 600;  }
 @font-face { font-style : bold; src: url("../assets/fonts/InterMedium.ttf"); font-family : "Inter"; font-weight : 500;  }
 @font-face { font-style : bold; src: url("../assets/fonts/PoppinsSemiBold.ttf"); font-family : "Poppins"; font-weight : 600;  }