@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply mx-auto max-w-7xl;
  }
}

:root {
  --primary-color: #8219d4;
}
/* Override default focus colors for tailwindcss-forms https://github.com/tailwindlabs/tailwindcss-forms */
[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="search"]:focus,
[type="checkbox"]:focus,
[type="radio"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  --tw-ring-color: var(--primary-color);
  border-color: var(--primary-color);
}

.react-datepicker-wrapper .react-datepicker__input-container input {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 0px;
}
.react-datepicker__day.react-datepicker__day--keyboard-selected {
  background: none;
  color: black;
}
input:focus,
textarea:focus {
  outline: none !important;
  outline-offset: 0 !important;
  --tw-ring-offset-width: none !important;
}

li:focus-visible {
  outline: none;
}

li:hover {
  cursor: pointer;
}

.tab-panel--selected {
  animation-name: tabPanel;
  animation-duration: 300ms;
  animation-timing-function: linear;
}
@keyframes tabPanel {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Input style */
.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-container label {
  position: absolute;
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.input-container input {
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.home {
  @apply absolute inset-[0] m-[auto] justify-center lg:h-[22px] lg:w-[21px] xl:h-[27px] xl:w-[26px] 2xl:h-[31px] 2xl:w-[30px] 3xl:h-[37px] 3xl:w-[36px];
}
.icontitle {
  @apply mb-[1px] w-[auto] not-italic text-gray_800;
}
.users {
  @apply my-[0] w-[100%] items-center rounded-radius1815 bg-white_day lg:p-[11px] xl:p-[14px] 2xl:p-[16px] 3xl:p-[19px];
}
.One_Two {
  @apply w-[auto] font-sora tracking-ls1 text-gray_901 lg:ml-[13px] xl:ml-[16px] 2xl:ml-[19px] 3xl:ml-[22px];
}
.userOne {
  @apply absolute lg:h-[42px] lg:w-[41px] xl:h-[52px] xl:w-[51px] 2xl:h-[59px] 2xl:w-[58px] 3xl:h-[70px] 3xl:w-[69px];
}
.user_One {
  @apply w-[auto] font-inter font-normal not-italic text-gray_901 lg:ml-[150px] xl:ml-[188px] 2xl:ml-[212px] 3xl:ml-[254px];
}
.Tue23janTwenty {
  @apply w-[auto] font-inter font-normal not-italic text-gray_901 lg:ml-[111px] xl:ml-[139px] 2xl:ml-[157px] 3xl:ml-[188px];
}
.userOne_Two {
  @apply lg:h-[42px] lg:w-[41px] xl:h-[52px] xl:w-[51px] 2xl:h-[59px] 2xl:w-[58px] 3xl:h-[70px] 3xl:w-[69px];
}
.icontitle1 {
  @apply mb-[1px] w-[auto] not-italic text-bluegray_500;
}
.listone {
  @apply my-[0] w-[100%] items-center rounded-radius1815 bg-gray_900 lg:p-[11px] xl:p-[14px] 2xl:p-[16px] 3xl:p-[19px];
}
.One6 {
  @apply w-[auto] font-sora tracking-ls1 text-bluegray_500 lg:ml-[13px] xl:ml-[16px] 2xl:ml-[19px] 3xl:ml-[22px];
}
.icontitle2 {
  @apply w-[auto] font-semibold text-bluegray_500 lg:ml-[12px] xl:ml-[16px] 2xl:ml-[18px] 3xl:ml-[21px];
}
.user_Two {
  @apply w-[auto] font-inter font-normal not-italic text-bluegray_500 lg:ml-[134px] xl:ml-[168px] 2xl:ml-[189px] 3xl:ml-[226px];
}
.columneditservice {
  @apply w-[auto] tracking-ls1 text-gray_901 lg:ml-[285px] xl:ml-[356px] 2xl:ml-[401px] 3xl:ml-[481px];
}
.columnrole {
  @apply w-[auto] not-italic tracking-ls1 text-gray_901;
}
.columneditservice1 {
  @apply w-[auto] tracking-ls1 text-gray_500 lg:ml-[285px] xl:ml-[356px] 2xl:ml-[401px] 3xl:ml-[481px];
}
.columnrole1 {
  @apply w-[auto] not-italic tracking-ls1 text-gray_500;
}
.columnsettings {
  @apply w-[auto] tracking-ls1 text-gray_901 lg:ml-[192px] xl:ml-[241px] 2xl:ml-[271px] 3xl:ml-[325px];
}
.listarrowdown {
  @apply w-[100%] items-center rounded-radius16 border border-solid border-gray_100 bg-white_day shadow-bs2 lg:my-[28px] lg:p-[12px] xl:my-[35px] xl:p-[16px] 2xl:my-[40px] 2xl:p-[18px] 3xl:my-[48px] 3xl:p-[21px];
}
.arrowdown {
  @apply ml-[4px] w-[17%] lg:h-[39px] xl:h-[49px] 2xl:h-[55px] 3xl:h-[65px];
}
.titledesc {
  @apply w-[auto] not-italic text-gray_901 lg:mt-[3px] xl:mt-[4px] 2xl:mt-[5px] 3xl:mt-[6px];
}
.title6 {
  @apply w-[auto] font-semibold tracking-ls1 text-gray_901;
}
.titledesc1 {
  @apply w-[auto] not-italic text-gray-300 lg:mt-[3px] xl:mt-[4px] 2xl:mt-[5px] 3xl:mt-[6px];
}
.title8 {
  @apply w-[auto] font-semibold tracking-ls1 text-gray-300;
}
.titledesc2 {
  @apply mb-[2px] w-[auto] not-italic text-gray_901 lg:mt-[4px] xl:mt-[5px] 2xl:mt-[6px] 3xl:mt-[7px];
}
.columnconfigurations {
  @apply w-[auto] text-gray_901 lg:ml-[14px] xl:ml-[17px] 2xl:ml-[20px] 3xl:ml-[24px];
}
.Setdarkmode {
  @apply w-[auto] not-italic text-bluegray_902 lg:mt-[13px] xl:mt-[16px] 2xl:mt-[19px] 3xl:mt-[22px];
}
.Buttonsmall {
  @apply w-[100%] p-[0] font-medium tracking-ls1 text-gray-300 lg:text-[9px] xl:text-[12px] 2xl:text-[14px] 3xl:text-[16px];
}
.columnsettings1 {
  @apply w-[auto] tracking-ls1 text-gray_500 lg:ml-[192px] xl:ml-[241px] 2xl:ml-[271px] 3xl:ml-[325px];
}
.listarrowdown1 {
  @apply w-[100%] items-center rounded-radius16 border border-solid border-gray_100 bg-gray_900 shadow-bs2 lg:my-[28px] lg:p-[12px] xl:my-[35px] xl:p-[16px] 2xl:my-[40px] 2xl:p-[18px] 3xl:my-[48px] 3xl:p-[21px];
}
.titledesc3 {
  @apply w-[auto] not-italic text-gray_500 lg:mt-[3px] xl:mt-[4px] 2xl:mt-[5px] 3xl:mt-[6px];
}
.title11 {
  @apply w-[auto] font-semibold tracking-ls1 text-gray_500;
}
.titledesc4 {
  @apply w-[auto] not-italic text-white_day lg:mt-[3px] xl:mt-[4px] 2xl:mt-[5px] 3xl:mt-[6px];
}
.title13 {
  @apply w-[auto] font-semibold tracking-ls1 text-white_day;
}
.titledesc5 {
  @apply mb-[2px] w-[auto] not-italic text-gray_500 lg:mt-[4px] xl:mt-[5px] 2xl:mt-[6px] 3xl:mt-[7px];
}
.columnconfigurations1 {
  @apply w-[auto] text-gray_500 lg:ml-[14px] xl:ml-[17px] 2xl:ml-[20px] 3xl:ml-[24px];
}
.Buttonsmall1 {
  @apply w-[100%] p-[0] font-medium tracking-ls1 text-bluegray_901 lg:text-[9px] xl:text-[12px] 2xl:text-[14px] 3xl:text-[16px];
}
.listarrowdown2 {
  @apply w-[100%] items-center rounded-radius16 border border-solid border-gray-300 bg-purple_600 shadow-bs3 lg:my-[28px] lg:p-[12px] xl:my-[35px] xl:p-[16px] 2xl:my-[40px] 2xl:p-[18px] 3xl:my-[48px] 3xl:p-[21px];
}
